body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #60b442;
}
.container{
	margin: 4em 0px 0px 200px;
	width: 95em;
	height: 50em;
	background-color: #fff;
}
a{
	text-decoration: none;
	color: #000;
}
.header{
	float: left;
	width: 100%;
	font-weight: bold;
}
.logo{
	float: left;
    width: 10%;
    /*padding: 22px 38px 21px 60px;*/
    margin: 0px 0px 0px 100px;
}
.logo-img{
	width: 10em;
	height: 7em;
}
.menu-container{
	float: left;
	width: 50%;
	height: 108px;
}
.menu{
	float: left;
	padding: 35px 0em 0em 0em;
}
.menu-item{
	float: left;
	margin: 11px 9px 0px 15px;
	color: #fff;
	text-align: center;
	list-style-type: none;
	font-size: 15px;
	/*font-weight: 500;*/
	font-style: bold;
	text-transform: uppercase;
}
.login-div{
	float: left;
	margin: 0;
	width: 33%;
	height: 108px;
}
.login-div a{
	float: left;
	padding: 70px 0px 0px 370px;
}
.hero{
	width: 100%;
	float: left;
	height: 51em;
}
.left-side{
	float: left;
	padding: 0px 0px 0px 120px;
}
.right-side{
	width: 500px;
	height: 33em;
	float: left;
	padding: 30px 0px 0px 150px;
}
.right-side h2{
	font-weight: bolder;
}
.right-side span{
	color: #60b442;
}
.form{
	margin-top: 20px;
}
.input{
	width: 480px;
	height: 30px;
	border-radius: 5px;
	margin-top: 20px;
	text-indent: 15px;
	border: 2px solid grey;
}
.first{
	float: left;
	width: 230px;
}
.last{
	float: left;
	margin-left: 15px;
	width: 230px;
}
button {
	border: none;
	width: 485px;
	height: 35px;
	margin-top: 20px;
	background-color: #60b442;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
}
.form-footer{
	margin-top: 25px;
}
.form-footer span{
	color: #60b442;
}
.already{
	margin-top: 25px;
	text-align: center;
}


@media screen and (max-width: 992px){
	.container{
		margin: 4em 0px 0px 85px;
		width: 820px;
		height: 1610px;
	}
	.menu-item{
		margin: 11px 0px 0px 32px;
	}
	.login-div{
		width: 10%;
		margin: 0px 0px 0px 0px;
	}
	.login-div a{
		float: left;
		padding: 61px 0px 0px 22px;
	}
	.menu-container{
		width: 68%;
		padding: 0px 0px 0px 0px;
	}
	.left-side{
		padding: 80px 0px 0px 115px;
	}
	video{
		width: 1000;
		height: 1000;
	}
	.right-side{
		padding: 80px 0px 0px 100px;
		width: 630px;
	}
	.logo{
		margin: 0px 0px 0px 50px;
		padding: 0px 0px 0px 0px;
	}
	button{
		width: 630px;
	}
	.input{
		width: 630px;
	}
	.last{
		margin-left: 0px;
	}
	.form-footer{
		text-align: center;
	}
	hr{
		width: 630px;
	}
}
